.root {
    -fx-font-family: "Arial", sans-serif;
    -fx-background-color: #f4f4f4;
}


/* Buttons – flach, eckig, einfarbig */
.button {
    -fx-background-color: #8a6642;  /* Blau, kannst du ändern */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 0;       /* eckig */
    -fx-padding: 8 16;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: #543a21;
}

.label {
    -fx-font-size: 13px;
    -fx-text-fill: #2c3e50;
}


.table-view {
    -fx-background-color: grey;
    -fx-border-color: #ccc;
    -fx-table-cell-border-color: #ddd;
}


.text-field {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 0;
    -fx-padding: 6;
    -fx-text-fill: #333;
}


.heading-label {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

