.root {
    -fx-font-family: "Arial", sans-serif;
    -fx-background-color: #f4f4f4;
}


/* Buttons – flach, eckig, einfarbig */
.button {
    -fx-background-color: #8a6642;  /* Blau, kannst du ändern */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 0;       /* eckig */
    -fx-padding: 8 16;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: #2980b9;  /* etwas dunkleres Blau beim Hover */
}

/* Labels */
.label {
    -fx-font-size: 13px;
    -fx-text-fill: #2c3e50;
}

/* Tabellenansicht */
.table-view {
    -fx-background-color: grey;
    -fx-border-color: #ccc;
    -fx-table-cell-border-color: #ddd;
}

/* Textfelder – eckig, weiß mit grauer Umrandung */
.text-field {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 0;
    -fx-padding: 6;
    -fx-text-fill: #333;
}

/* Radio-Buttons */
.radio-button {
    -fx-font-size: 13px;
    -fx-text-fill: #2c3e50;
}

.heading-label {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.primary-button {
    -fx-pref-width: 200px;
    -fx-font-size: 14px;
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-padding: 10 20;
    -fx-font-weight: bold;
}

.primary-button:hover {
    -fx-background-color: #2980b9;
}